@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

/* Card Component CSS */

/* ========= CUSTOM COMPONENT STYLES ========= */

.card-container {
  background: rgba(233, 227, 227, 0.226);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
}

/* ========= TAILWIND UTILITIES FROM YOUR CONFIG ========= */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ========= TYPOGRAPHY ========= */

.p-semibold-14 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25rem;
}

.p-medium-14 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25rem;
}


.p-medium-16 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5rem;
}

.p-medium-20 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}



/* Loading component CSS */

.container-loader {
  --uib-size: 40px;
  --uib-color: black;
  --uib-speed: 1s;
  --uib-stroke: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.line {
  position: absolute;
  top: 0;
  left: calc(50% - var(--uib-stroke) / 2);
  display: flex;
  align-items: flex-start;
  height: 100%;
  width: var(--uib-stroke);
}


.line::before {
  content: "";
  height: 22%;
  width: 100%;
  border-radius: calc(var(--uib-stroke) / 2);
  background-color: var(--uib-color);
  animation: pulse calc(var(--uib-speed)) ease-in-out infinite;
  transition: background-color 0.3s ease;
  transform-origin: center bottom;
}

.line:nth-child(1) {
  transform: rotate(calc(360deg / -12 * 1));
}
.line:nth-child(1)::before {
  animation-delay: calc(var(--uib-speed) / -12 * 1);
}
.line:nth-child(2) {
  transform: rotate(calc(360deg / -12 * 2));
}
.line:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) / -12 * 2);
}
.line:nth-child(3) {
  transform: rotate(calc(360deg / -12 * 3));
}
.line:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) / -12 * 3);
}
.line:nth-child(4) {
  transform: rotate(calc(360deg / -12 * 4));
}
.line:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) / -12 * 4);
}
.line:nth-child(5) {
  transform: rotate(calc(360deg / -12 * 5));
}
.line:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) / -12 * 5);
}
.line:nth-child(6) {
  transform: rotate(calc(360deg / -12 * 6));
}
.line:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) / -12 * 6);
}
.line:nth-child(7) {
  transform: rotate(calc(360deg / -12 * 7));
}
.line:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) / -12 * 7);
}
.line:nth-child(8) {
  transform: rotate(calc(360deg / -12 * 8));
}
.line:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) / -12 * 8);
}
.line:nth-child(9) {
  transform: rotate(calc(360deg / -12 * 9));
}
.line:nth-child(9)::before {
  animation-delay: calc(var(--uib-speed) / -12 * 9);
}
.line:nth-child(10) {
  transform: rotate(calc(360deg / -12 * 10));
}
.line:nth-child(10)::before {
  animation-delay: calc(var(--uib-speed) / -12 * 10);
}
.line:nth-child(11) {
  transform: rotate(calc(360deg / -12 * 11));
}

.line:nth-child(11)::before {
  animation-delay: calc(var(--uib-speed) / -12 * 11);
}